<!DOCTYPE html>
<html>
  <head>
    <meta charset="ytf-8">
    <title>Colección Euros GARÍN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a la colección de EUROS GARÍN</h1>
    <p>Web para gestionar la colección de euros</p>
  </body>
</html>
