<% if (!tipo) { %>
    <h1>CONSULTA DE MONEDAS EN LA COLECCIÓN</h1>
<% } else {%> 
    <h1>CONSULTA DE MONEDAS CONMEMORATIVAS</h1>
<% } %>  

</div>

<div class="formulario"></div>
    <form method="get" action="/coleccion/show">
        <% if (tipo) { %>
            <input type="hidden" name="tipo" value="<%= tipo %>"/>
        <% } %>  

        <% include _form.ejs %>

    </form>
</div>