<h1>COLECCIÓN EUROS</h1>
<div class="botones_eleccion">
    <a href="/coleccion/formulario">
        <button id="monedas_curso" class="boton_datos" > COLECCIÓN EUROS </button>    
    </a>
    <a href="/coleccion/formulario?tipo=conmemorativa">
        <button id="conmemorativas" class="boton_datos" > CONMEMORATIVAS</button>    
    </a>
</div>
<% if (locals.loginUser.displayName !== "Invitado") { %>
    <a href="/coleccion/new" class="button">Añadir nueva moneda</a>
    <a href="/coleccion/new?tipo=conmemorativa" class="button">Añadir nueva conmemorativa</a>
<% } %>