<h1>
    Creación de usuario:
</h1>

<form method="post" action="/users">
    <% include _form.ejs %>

    <input type="submit" value="Guardar" onclick="return forcePassword() && validPassword()">
</form>
